<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee         
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>VolumeServlet</servlet-name>
        <servlet-class>com.example.VolumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolumeServlet</servlet-name>
        <url-pattern>/volume</url-pattern>
    </servlet-mapping>
</web-app>
